
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body * {
    font-family: 'Campton Book';
}

body {
    background-color: #fafafa;
}

header {
    height: 144px;
    width: 100%;
    background-color: #FFD9FA;
    background-size: 132px 45px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

section {
    padding: 40px 0;
}

article {
    width: 810px;
    height: 672px;
    margin:0 auto;
    background-color: #fff;
}

.inner-cols {
    margin: 0 auto;
    padding: 60px 60px;
}

.title {
    margin-bottom: 50px;
}

.title h1 {
    font-size: 40px;
    color: #333333;
    font-family: 'Campton Light';
}

.input {

}

.pass-label {
    font-size: 24px;
    color: #555;
    display: block;
    margin: 10px 0;
    padding-left: 3px;
}

.pass-input {
    font-size: 20px;
    width: 657px;
    height: 76px;
    padding-left: 15px;
    border: 1px solid #FFD9FA;
}

.actions {
    margin-top: 40px;
}

.actions button {
    display: block;
    margin: 0 auto;
    color: #fff;
    border: 0;
    background-color: #FFD9FA;
    height: 80px;
    width: 303px;
    font-size: 26px;
    border-radius: 10px;
}

.actions button:disabled {
    opacity: 0.5;
}

.input span {
    color: #929393;
    padding: 15px 0 0 15px;
    display: block;
    height: 20px;
}

@media (max-width: 414px) {
    header {
        height: 100px;
        width: 100%;
        background-color: #37b88a;
        background-size: 132px 45px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    section {
        padding: 30px 20px;
    }

    article {
        width: 280px;
        height: inherit;
        margin: 0 auto;
    }

    .inner-cols {
        margin: 0 auto;
        padding: 10px;
    }

    .title {
        margin: 20px 0 30px;
    }

    .title h1 {
        font-size: 20px;
        text-align: center;
    }

    .input {
        text-align:center;
    }

    .pass-label {
        font-size: 12px;
        margin: 10px 0;
        padding-left: 16px;
        text-align: left;
    }

    .pass-input {
        font-size: 10px;
        width: 220px;
        height: 30px;
        padding-left: 10px;
    }

    .actions {
        margin: 10px 0 40px;
    }

    .actions button {
        height: 50px;
        width: 230px;
        font-size: 16px;
        border-radius: 5px;
    }

    .input span {
        padding: 5px 0 0 20px;
        height: 12px;
        font-size: 10px;
        text-align: left;
    }
}

@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    header {}
}