
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body * {
	font-family: 'Campton Book';
}

body {
	background-color: #fafafa;
}

header {
	height: 144px;
	width: 100%;
	background-color: #FFD9FA;
	background-size: 132px 45px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

section {
	padding: 40px 0;
}

article {
	width: 810px;
	height: 672px;
	margin:0 auto;
	background-color: #fff;
}

.inner-cols {
	margin: 0 auto;
	padding: 60px 60px;
	text-align: center;
}

.success-icon {
	background-image: url('https://d1gngl03jpww72.cloudfront.net/email/success.png');
	background-repeat: no-repeat;
	background-size: 143px 143px;
	width: 143px;
	height: 143px;
	margin: 116px auto 46px auto;
}

.message {
	font-size: 40px;
	color: #333;
}
@media (max-width: 414px) {
	header {
		height: 100px;
	}

	section {
		padding: 30px 20px;
	}

	article {
		width: 280px;
		height: 370px;
		margin: 0 auto;
	}

	.inner-cols {
		margin: 0 auto;
		padding: 10px;
	}
	.success-icon {
		margin-top: 80px;
		height: 100px;
		width: 100px;
		background-size: 100px 100px;
		margin-top: 60px;
	}

	.message {
		font-size: 20px;
	}
}

@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	header {}

	.success-icon {}
}